@import "../../node_modules/bootstrap/scss/functions";
@import "10_bootstrap_variables";
@import "../../node_modules/bootstrap/scss/mixins";

// Optional
@import "../../node_modules/bootstrap/scss/bootstrap";

body {
  background-color: #303030;
  color: #dad7cd;
}

#main-container {
  min-height: 100%;
}

.container {
  width: 100%;
  background-color: $tertiary;
  padding: 10px;
}

#canvas {
  background-color: $secondary;
}

#canvas-container {
  min-height:100%;
  padding: 0;
}

.form-select {
  background-color: $primary;
  color: $body-color;
}

.form-check-input {
  color: $body-color;
  background-color: $link-color;
}

#row1 {
  min-height: 285px;
  min-height: 320px;
}

.form-switch .form-check-input {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3'  style='stroke: rgb(52,78,65); fill: rgb(52,78,65);' /%3e%3c/svg%3e");
}

.form-check-input:checked {
  background-color: $link-hover-color;
}

.form-switch .form-check-input:focus {
  background-color: $link-hover-color;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3'  style='stroke: white; fill: white' /%3e%3c/svg%3e");
}

.btn-primary {
  color: $body-color;
}

.footer {
  padding: 10px 0;
}

.instrument-button {
  width: 2em;
  height: 2em;
  margin-left: 0.5em;
  margin-bottom: 0.5em;
  transition: background-color 1s ease;
}

#control-metronome {
  transition: background-color .5s ease;
}

.button-playing, .metronome-playing {
  background-color: $green2 !important;
  transition: background-color .5s ease;
}

#instrument-buttons-container {
  padding: 0;
  width: 95%;
}

#instrument-buttons-container .row {
  margin-bottom: 1em;
}

#metronome-instrument {
  width: 100px;
}

.btn-selected {
  background-color: $gray-600;

  &:focus {
    background-color: $gray-600;
  }
}

.settings-container {
  height: 300px;
}

.carousel-control-prev, .carousel-control-next {
  display: block;
  width: initial;
  top: unset;
}

.display {
  width: 30px;
  display: inline-block;
  text-align: center;
}

.control-container {
  max-width: 195px;
  overflow: hidden;
  max-height: 70px;
  margin-bottom: 24px;

  .form-label {
    margin-bottom: 2px;
  }
}

.show-from-md,
.show-from-xxl{
  display: none;
}

.show-till-md,
.show-till-md {
  display: block;
}

@include media-breakpoint-up(sm) {
}

@include media-breakpoint-up(md) {

  .show-from-md {
    display: block;
  }

  .show-till-md {
    display: none;
  }
}

@include media-breakpoint-up(lg) {

}

@include media-breakpoint-up(xl) {

}

@include media-breakpoint-up(xxl) {


  .l {
    display: block;
  }

  .show-till-xxl {
    display: none;
  }
}